<app-menu-bar></app-menu-bar>

<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://images.unsplash.com/photo-1635414981532-e1926c95018a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHxoYWxsb3dlZW58ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
        cardTitle="It's Almost Halloween!"
        cardDescription="Feriado do dia das bruxas está chegando e você pode participar do nosso concurso de fantasias."></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card
        photoCover="https://images.unsplash.com/photo-1602814736315-13fe19927459?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        cardTitle="Participe do concurso das abóboras"></app-small-card>

        <app-small-card
        photoCover="https://images.unsplash.com/photo-1509557965875-b88c97052f0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        cardTitle="Vote na melhor decoração"></app-small-card>        
        
        <app-small-card
        photoCover="https://images.unsplash.com/photo-1603320284194-db4276c54f0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGFsbG93ZWVuJTIwY2FuZHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        cardTitle="Deliciosas receitas para sua festa de Halloween"></app-small-card>
    </div>
</div>